body {
	background-color: #efeee7;
	padding: 0;
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
	margin: 0;
}

p {
	font-family: "Georgia",Times New Roman,Times,serif;
	color: #333333;
}

a {
	color: #d21034;
}

h1 {
	color: #eee;
	font-size: 28 px;
}

h2 {
	font-size: 24 px;
}

.header {
	background-color: #333333;
	text-align: center;
	padding-top: 2;
	padding-bottom: 2;
}

.container {
	width: 1024;
	margin: 0 auto;

}

#main-bio,
#contact-info,
#bio-image {
	float: left;
}

#main-bio {
	width: 40%;
	margin-right: 10;
}

#contact-info {
	width: 30%;
	line-height: 150%;
}

#bio-image {
	width: 200;
	margin: 10;
}